<div *ngIf="path.length > 0" class="btn-group-toggle float-right">
  <label [ngClass]="visibility ? 'active' : null" class="btn btn-outline-secondary">
    <input (change)="toggle()" [checked]="visibility" id="visibility" name="visibility" type="checkbox"/>
    View Source
  </label>
</div>

<div *ngIf="visibility">
  <!-- Nav tabs -->
  <nav class="nav nav-tabs" id="nav-tab" role="tablist">
    <a *ngIf="tsContent !== ''" aria-controls="nav-ts" aria-expanded="true" class="nav-item nav-link active" data-toggle="tab"
       href="#tsTab" id="nav-ts-tab" role="tab">TS</a>
    <a *ngIf="htmlContent !== ''" aria-controls="nav-html" aria-expanded="false" class="nav-item nav-link" data-toggle="tab" href="#htmlTab"
       id="nav-html-tab" role="tab">HTML</a>
    <a *ngIf="cssContent !== ''" aria-controls="nav-css" aria-expanded="false" class="nav-item nav-link" data-toggle="tab" href="#cssTab"
       id="nav-css-tab" role="tab">CSS</a>
  </nav>

  <!-- Tab panes -->
  <div class="tab-content" id="nav-tabContent">
    <div aria-expanded="true" aria-labelledby="nav-ts-tab" class="tab-pane fade active show" id="tsTab" role="tabpanel">
      <pre #tsViewerNode class="ts">{{ tsContent }}</pre>
    </div>
    <div aria-expanded="false" aria-labelledby="nav-html-tab" class="tab-pane fade" id="htmlTab" role="tabpanel">
      <pre #htmlViewerNode class="html">{{ htmlContent }}</pre>
    </div>
    <div aria-labelledby="nav-css-tab" class="tab-pane fade" id="cssTab" role="tabpanel">
      <pre #cssViewerNode class="css">{{ cssContent }}</pre>
    </div>
  </div>
</div>
