<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>angular-datatables-all-versions documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">angular-datatables-all-versions documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>FieldFilterChooserPopupDialog</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#templateData" role="tab" id="templateData-tab" data-toggle="tab" data-link="template">Template</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>libs/datatable/src/components/filter-bar/field-filter-chooser-popup-dialog/field-filter-chooser-popup-dialog.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-field-filter-chooser-popup-dialog</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>./field-filter-chooser-popup-dialog.css</code></td>
            </tr>



            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>./field-filter-chooser-popup-dialog.html</code></td>
            </tr>








        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#activeItem">activeItem</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#data">data</a>
                            </li>
                            <li>
                                <a href="#fieldSearchQuery">fieldSearchQuery</a>
                            </li>
                            <li>
                                <a href="#filteredFields">filteredFields</a>
                            </li>
                            <li>
                                <a href="#keyboardEventsManager">keyboardEventsManager</a>
                            </li>
                            <li>
                                <a href="#listItem">listItem</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#fieldSelected">fieldSelected</a>
                            </li>
                            <li>
                                <a href="#handleKeyDown">handleKeyDown</a>
                            </li>
                            <li>
                                <a href="#ngAfterViewInit">ngAfterViewInit</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#onFieldSearch">onFieldSearch</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(_dialogCloser: (dialogResult: <a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank">any</a>) => void, data: <a href="../interfaces/DialogData.html">DialogData</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="29" class="link-to-prism">libs/datatable/src/components/filter-bar/field-filter-chooser-popup-dialog/field-filter-chooser-popup-dialog.ts:29</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>_dialogCloser</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/function" target="_blank" >function</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>data</td>
                                                  
                                                        <td>
                                                                        <code><a href="../interfaces/DialogData.html" target="_self" >DialogData</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="fieldSelected"></a>
                    <span class="name">
                        <b>
                            fieldSelected
                        </b>
                        <a href="#fieldSelected"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>fieldSelected(field: <a href="../interfaces/FilterableField.html">FilterableField</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="49"
                            class="link-to-prism">libs/datatable/src/components/filter-bar/field-filter-chooser-popup-dialog/field-filter-chooser-popup-dialog.ts:49</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>field</td>
                                    <td>
                                                <code><a href="../interfaces/FilterableField.html" target="_self" >FilterableField</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="handleKeyDown"></a>
                    <span class="name">
                        <b>
                            handleKeyDown
                        </b>
                        <a href="#handleKeyDown"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>handleKeyDown(event: KeyboardEvent)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="53"
                            class="link-to-prism">libs/datatable/src/components/filter-bar/field-filter-chooser-popup-dialog/field-filter-chooser-popup-dialog.ts:53</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>event</td>
                                    <td>
                                            <code>KeyboardEvent</code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngAfterViewInit"></a>
                    <span class="name">
                        <b>
                            ngAfterViewInit
                        </b>
                        <a href="#ngAfterViewInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngAfterViewInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="41"
                            class="link-to-prism">libs/datatable/src/components/filter-bar/field-filter-chooser-popup-dialog/field-filter-chooser-popup-dialog.ts:41</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="38"
                            class="link-to-prism">libs/datatable/src/components/filter-bar/field-filter-chooser-popup-dialog/field-filter-chooser-popup-dialog.ts:38</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="onFieldSearch"></a>
                    <span class="name">
                        <b>
                            onFieldSearch
                        </b>
                        <a href="#onFieldSearch"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>onFieldSearch(searchQuery: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="45"
                            class="link-to-prism">libs/datatable/src/components/filter-bar/field-filter-chooser-popup-dialog/field-filter-chooser-popup-dialog.ts:45</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>searchQuery</td>
                                    <td>
                                                <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="activeItem"></a>
                        <span class="name">
                            <b>
                            activeItem</b>
                            <a href="#activeItem"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="26" class="link-to-prism">libs/datatable/src/components/filter-bar/field-filter-chooser-popup-dialog/field-filter-chooser-popup-dialog.ts:26</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="data"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            data</b>
                            <a href="#data"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/DialogData.html" target="_self" >DialogData</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decorators : </b>
                            <br />
                            <code>
                                @Inject(MAT_DIALOG_DATA)<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="33" class="link-to-prism">libs/datatable/src/components/filter-bar/field-filter-chooser-popup-dialog/field-filter-chooser-popup-dialog.ts:33</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="fieldSearchQuery"></a>
                        <span class="name">
                            <b>
                            fieldSearchQuery</b>
                            <a href="#fieldSearchQuery"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>&#x27;&#x27;</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="28" class="link-to-prism">libs/datatable/src/components/filter-bar/field-filter-chooser-popup-dialog/field-filter-chooser-popup-dialog.ts:28</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="filteredFields"></a>
                        <span class="name">
                            <b>
                            filteredFields</b>
                            <a href="#filteredFields"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>FilterableField[]</code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="29" class="link-to-prism">libs/datatable/src/components/filter-bar/field-filter-chooser-popup-dialog/field-filter-chooser-popup-dialog.ts:29</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="keyboardEventsManager"></a>
                        <span class="name">
                            <b>
                            keyboardEventsManager</b>
                            <a href="#keyboardEventsManager"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>ListKeyManager&lt;any&gt;</code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="25" class="link-to-prism">libs/datatable/src/components/filter-bar/field-filter-chooser-popup-dialog/field-filter-chooser-popup-dialog.ts:25</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="listItem"></a>
                        <span class="name">
                            <b>
                            listItem</b>
                            <a href="#listItem"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>QueryList&lt;any&gt;</code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decorators : </b>
                            <br />
                            <code>
                                @ViewChildren(&#x27;listItem&#x27;)<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="24" class="link-to-prism">libs/datatable/src/components/filter-bar/field-filter-chooser-popup-dialog/field-filter-chooser-popup-dialog.ts:24</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import {Component, Inject, OnInit, QueryList, ViewChildren} from &#x27;@angular/core&#x27;;
import {MAT_DIALOG_DATA} from &#x27;@angular/material/dialog&#x27;;
import {POPUP_DIALOG_CLOSE} from &#x27;ngx-popup-dialog&#x27;;

import {DataTableTranslations} from &#x27;../../../types/data-table-translations.type&#x27;;
import {FilterableField} from &#x27;../../../types/filterable-field.type&#x27;;
import {ListKeyManager} from &#x27;@angular/cdk/a11y&#x27;;
import {DOWN_ARROW, ENTER, UP_ARROW} from &#x27;@angular/cdk/keycodes&#x27;;
import {MatListItem} from &#x27;@angular/material/list&#x27;;


interface DialogData {
  fields: FilterableField[];
  labels: DataTableTranslations
}

// @dynamic
@Component({
  selector: &#x27;app-field-filter-chooser-popup-dialog&#x27;,
  templateUrl: &#x27;./field-filter-chooser-popup-dialog.html&#x27;,
  styleUrls: [&#x27;./field-filter-chooser-popup-dialog.css&#x27;]
})
export class FieldFilterChooserPopupDialog implements OnInit {
  @ViewChildren(&#x27;listItem&#x27;) listItem: QueryList&lt;any&gt;
  keyboardEventsManager: ListKeyManager&lt;any&gt;;
  activeItem: any;

  fieldSearchQuery &#x3D; &#x27;&#x27;;
  filteredFields: FilterableField[];

  constructor(
    @Inject(POPUP_DIALOG_CLOSE) private _dialogCloser: (dialogResult?: any) &#x3D;&gt; void,
    @Inject(MAT_DIALOG_DATA) public data: DialogData
  ) {
    this.filteredFields &#x3D; data.fields;
  }

  ngOnInit() {
  }

  ngAfterViewInit() {
    this.keyboardEventsManager &#x3D; new ListKeyManager(this.listItem);
  }

  onFieldSearch(searchQuery: string) {
    this.filteredFields &#x3D; this.data.fields.filter(c &#x3D;&gt; c.header.toLowerCase().indexOf(searchQuery.toLowerCase()) !&#x3D; -1);
  }

  fieldSelected(field: FilterableField) {
    this._dialogCloser(field);
  }

  handleKeyDown(event: KeyboardEvent) {
    event.stopImmediatePropagation();
    if (this.keyboardEventsManager) {
      if (event.keyCode &#x3D;&#x3D;&#x3D; DOWN_ARROW || event.keyCode &#x3D;&#x3D;&#x3D; UP_ARROW) {
        // passing the event to key manager so we get a change fired
        this.keyboardEventsManager.onKeydown(event);
        let activeItem &#x3D; this.keyboardEventsManager.activeItem as MatListItem;
        if (activeItem &#x3D;&#x3D; this.activeItem) {
          event.keyCode &#x3D;&#x3D;&#x3D; DOWN_ARROW ? this.keyboardEventsManager.setFirstItemActive() : this.keyboardEventsManager.setLastItemActive();
          activeItem &#x3D; this.keyboardEventsManager.activeItem as MatListItem;
        }
        this.activeItem &#x3D; activeItem;
        (this.keyboardEventsManager.activeItem as MatListItem)._getHostElement().scrollIntoView();
        return false;
      } else if (event.keyCode &#x3D;&#x3D;&#x3D; ENTER) {
        (this.keyboardEventsManager.activeItem as MatListItem)._getHostElement().click();
        return false;
      }
    }
  }
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-templateData">
        <pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;dialog-container&quot;&gt;
  &lt;form class&#x3D;&quot;search-field&quot;&gt;
    &lt;mat-form-field&gt;
      &lt;input (keydown)&#x3D;&quot;handleKeyDown($event)&quot; (ngModelChange)&#x3D;&quot;onFieldSearch($event)&quot; [ngModel]&#x3D;&quot;fieldSearchQuery&quot; [placeholder]&#x3D;&quot;data.labels.searchField&quot;
             autocomplete&#x3D;&quot;off&quot;
             matInput name&#x3D;&quot;fieldSearchQuery&quot;&gt;
    &lt;/mat-form-field&gt;
  &lt;/form&gt;
  &lt;div class&#x3D;&quot;fields-list&quot;&gt;
    &lt;mat-nav-list&gt;
      &lt;a #listItem (click)&#x3D;&quot;fieldSelected(field)&quot; *ngFor&#x3D;&quot;let field of filteredFields&quot; [class.active]&#x3D;&quot;activeItem &#x3D;&#x3D; listItem&quot;
         mat-list-item
         tabindex&#x3D;&quot;0&quot;&gt;{{field.header}}
      &lt;/a&gt;
    &lt;/mat-nav-list&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>./field-filter-chooser-popup-dialog.css</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">.dialog-container {
  padding-bottom: 12px;
}

.search-field {
  padding: 12px;
  padding-bottom: 0px;
}

.fields-list {
  max-height: 250px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #d9d9d9;
}

.mat-list-item.active {
  background: rgba(0, 0, 0, .04);
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="dialog-container">  <form class="search-field">    <mat-form-field>      <input (keydown)="handleKeyDown($event)" (ngModelChange)="onFieldSearch($event)" [ngModel]="fieldSearchQuery" [placeholder]="data.labels.searchField"             autocomplete="off"             matInput name="fieldSearchQuery">    </mat-form-field>  </form>  <div class="fields-list">    <mat-nav-list>      <a #listItem (click)="fieldSelected(field)" *ngFor="let field of filteredFields" [class.active]="activeItem == listItem"         mat-list-item         tabindex="0">{{field.header}}      </a>    </mat-nav-list>  </div></div></div>'
    var COMPONENTS = [{'name': 'DataTableComponent', 'selector': 'data-table'},{'name': 'DataTableHeaderComponent', 'selector': 'data-table-header'},{'name': 'DataTablePaginationComponent', 'selector': 'data-table-pagination'},{'name': 'DataTableRowComponent', 'selector': '[dataTableRow]'},{'name': 'FieldFilterChooserPopupDialog', 'selector': 'app-field-filter-chooser-popup-dialog'},{'name': 'FieldFilterPopupDialog', 'selector': 'app-field-filter-popup-dialog'},{'name': 'FilterBarComponent', 'selector': 'filter-bar'}];
    var DIRECTIVES = [{'name': 'DataTableColumnDirective', 'selector': 'data-table-column'},{'name': 'HideDirective', 'selector': '[hide]'}];
    var ACTUAL_COMPONENT = {'name': 'FieldFilterChooserPopupDialog'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'FieldFilterChooserPopupDialog.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
