<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>angular-datatables-all-versions documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">angular-datatables-all-versions documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>FilterBarComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#templateData" role="tab" id="templateData-tab" data-toggle="tab" data-link="template">Template</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>libs/datatable/src/components/filter-bar/filter-bar.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/OnInit" target="_blank" >OnInit</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>filter-bar</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>./filter-bar.component.css</code></td>
            </tr>



            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>./filter-bar.component.html</code></td>
            </tr>








        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#dataTable">dataTable</a>
                            </li>
                            <li>
                                <a href="#fieldChooserDialogRef">fieldChooserDialogRef</a>
                            </li>
                            <li>
                                <a href="#fields">fields</a>
                            </li>
                            <li>
                                <a href="#filters">filters</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#popupDialogService">popupDialogService</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#chipClicked">chipClicked</a>
                            </li>
                            <li>
                                    <span class="modifier">Private</span>
                                <a href="#convertFilterToEmittedFilter">convertFilterToEmittedFilter</a>
                            </li>
                            <li>
                                <a href="#formatChipDisplayText">formatChipDisplayText</a>
                            </li>
                            <li>
                                <a href="#formatValue">formatValue</a>
                            </li>
                            <li>
                                <a href="#inputFocused">inputFocused</a>
                            </li>
                            <li>
                                <a href="#ngOnInit">ngOnInit</a>
                            </li>
                            <li>
                                <a href="#openFieldChooserDialog">openFieldChooserDialog</a>
                            </li>
                            <li>
                                <a href="#openFieldFilterDialog">openFieldFilterDialog</a>
                            </li>
                            <li>
                                <a href="#removeFilter">removeFilter</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(dataTable: <a href="../components/DataTableComponent.html">DataTableComponent</a>, popupDialogService: PopupDialogService)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="20" class="link-to-prism">libs/datatable/src/components/filter-bar/filter-bar.component.ts:20</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>dataTable</td>
                                                  
                                                        <td>
                                                                        <code><a href="../components/DataTableComponent.html" target="_self" >DataTableComponent</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>popupDialogService</td>
                                                  
                                                        <td>
                                                                    <code>PopupDialogService</code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="chipClicked"></a>
                    <span class="name">
                        <b>
                            chipClicked
                        </b>
                        <a href="#chipClicked"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>chipClicked(event: <a href="https://angular.io/api/router/Event" target="_blank">Event</a>, filter: <a href="../interfaces/Filter.html">Filter</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="39"
                            class="link-to-prism">libs/datatable/src/components/filter-bar/filter-bar.component.ts:39</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>event</td>
                                    <td>
                                                <code><a href="https://angular.io/api/router/Event" target="_blank" >Event</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                                <tr>
                                    <td>filter</td>
                                    <td>
                                                <code><a href="../interfaces/Filter.html" target="_self" >Filter</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="convertFilterToEmittedFilter"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Private</span>
                            convertFilterToEmittedFilter
                        </b>
                        <a href="#convertFilterToEmittedFilter"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>convertFilterToEmittedFilter(filter: <a href="../interfaces/Filter.html">Filter</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="128"
                            class="link-to-prism">libs/datatable/src/components/filter-bar/filter-bar.component.ts:128</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>filter</td>
                                    <td>
                                                <code><a href="../interfaces/Filter.html" target="_self" >Filter</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="formatChipDisplayText"></a>
                    <span class="name">
                        <b>
                            formatChipDisplayText
                        </b>
                        <a href="#formatChipDisplayText"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>formatChipDisplayText(filter: <a href="../interfaces/Filter.html">Filter</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="120"
                            class="link-to-prism">libs/datatable/src/components/filter-bar/filter-bar.component.ts:120</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>filter</td>
                                    <td>
                                                <code><a href="../interfaces/Filter.html" target="_self" >Filter</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="formatValue"></a>
                    <span class="name">
                        <b>
                            formatValue
                        </b>
                        <a href="#formatValue"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>formatValue(filter: <a href="../interfaces/Filter.html">Filter</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="105"
                            class="link-to-prism">libs/datatable/src/components/filter-bar/filter-bar.component.ts:105</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>filter</td>
                                    <td>
                                                <code><a href="../interfaces/Filter.html" target="_self" >Filter</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="inputFocused"></a>
                    <span class="name">
                        <b>
                            inputFocused
                        </b>
                        <a href="#inputFocused"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>inputFocused(event: <a href="https://angular.io/api/router/Event" target="_blank">Event</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="34"
                            class="link-to-prism">libs/datatable/src/components/filter-bar/filter-bar.component.ts:34</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>event</td>
                                    <td>
                                                <code><a href="https://angular.io/api/router/Event" target="_blank" >Event</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnInit"></a>
                    <span class="name">
                        <b>
                            ngOnInit
                        </b>
                        <a href="#ngOnInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>ngOnInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="31"
                            class="link-to-prism">libs/datatable/src/components/filter-bar/filter-bar.component.ts:31</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="openFieldChooserDialog"></a>
                    <span class="name">
                        <b>
                            openFieldChooserDialog
                        </b>
                        <a href="#openFieldChooserDialog"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>openFieldChooserDialog(triggeredElement)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="54"
                            class="link-to-prism">libs/datatable/src/components/filter-bar/filter-bar.component.ts:54</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>triggeredElement</td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="openFieldFilterDialog"></a>
                    <span class="name">
                        <b>
                            openFieldFilterDialog
                        </b>
                        <a href="#openFieldFilterDialog"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>openFieldFilterDialog(triggeredElement, filter?: <a href="../interfaces/Filter.html">Filter</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="80"
                            class="link-to-prism">libs/datatable/src/components/filter-bar/filter-bar.component.ts:80</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>triggeredElement</td>
                                    <td>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                                <tr>
                                    <td>filter</td>
                                    <td>
                                                <code><a href="../interfaces/Filter.html" target="_self" >Filter</a></code>
                                    </td>

                                    <td>
                                        Yes
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >any</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="removeFilter"></a>
                    <span class="name">
                        <b>
                            removeFilter
                        </b>
                        <a href="#removeFilter"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>removeFilter(filter: <a href="../interfaces/Filter.html">Filter</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="95"
                            class="link-to-prism">libs/datatable/src/components/filter-bar/filter-bar.component.ts:95</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>filter</td>
                                    <td>
                                                <code><a href="../interfaces/Filter.html" target="_self" >Filter</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="dataTable"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            dataTable</b>
                            <a href="#dataTable"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../components/DataTableComponent.html" target="_self" >DataTableComponent</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <b>Decorators : </b>
                            <br />
                            <code>
                                @Inject(undefined)<br />
                            </code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="23" class="link-to-prism">libs/datatable/src/components/filter-bar/filter-bar.component.ts:23</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="fieldChooserDialogRef"></a>
                        <span class="name">
                            <b>
                            fieldChooserDialogRef</b>
                            <a href="#fieldChooserDialogRef"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>MatDialogRef&lt;PopupDialog&gt;</code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="18" class="link-to-prism">libs/datatable/src/components/filter-bar/filter-bar.component.ts:18</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="fields"></a>
                        <span class="name">
                            <b>
                            fields</b>
                            <a href="#fields"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>FilterableField[]</code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="20" class="link-to-prism">libs/datatable/src/components/filter-bar/filter-bar.component.ts:20</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="filters"></a>
                        <span class="name">
                            <b>
                            filters</b>
                            <a href="#filters"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../interfaces/Filter.html" target="_self" >Filter[]</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>[]</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="19" class="link-to-prism">libs/datatable/src/components/filter-bar/filter-bar.component.ts:19</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="popupDialogService"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            popupDialogService</b>
                            <a href="#popupDialogService"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>PopupDialogService</code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="24" class="link-to-prism">libs/datatable/src/components/filter-bar/filter-bar.component.ts:24</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import {Component, forwardRef, Inject, OnInit} from &#x27;@angular/core&#x27;;
import {PopupDialogService} from &#x27;ngx-popup-dialog&#x27;;

import {Filter} from &#x27;../../types/filter.type&#x27;;
import {FilterableField} from &#x27;../../types/filterable-field.type&#x27;;
import {DataTableComponent} from &#x27;../table/table.component&#x27;;
import {FieldFilterChooserPopupDialog} from &#x27;./field-filter-chooser-popup-dialog/field-filter-chooser-popup-dialog&#x27;;
import {FieldFilterPopupDialog} from &#x27;./field-filter-popup-dialog/field-filter-popup-dialog&#x27;;
import {MatDialogRef} from &#x27;@angular/material/dialog&#x27;;
import {PopupDialog} from &#x27;ngx-popup-dialog/lib/popup-dialog/popup-dialog&#x27;;

@Component({
  selector: &#x27;filter-bar&#x27;,
  templateUrl: &#x27;./filter-bar.component.html&#x27;,
  styleUrls: [&#x27;./filter-bar.component.css&#x27;]
})
export class FilterBarComponent implements OnInit {
  fieldChooserDialogRef: MatDialogRef&lt;PopupDialog&gt;;
  filters: Filter[] &#x3D; [];
  fields: FilterableField[];

  constructor(
    @Inject(forwardRef(() &#x3D;&gt; DataTableComponent)) public dataTable: DataTableComponent,
    public popupDialogService: PopupDialogService) {
    this.fields &#x3D; this.dataTable.filterableFields;
    if (dataTable.filters) {
      this.filters &#x3D; dataTable.filters
    }
  }

  ngOnInit() {
  }

  inputFocused(event: Event) {
    (event.currentTarget as HTMLElement).blur();
    this.openFieldChooserDialog(event.currentTarget);
  }

  chipClicked(event: Event, filter: Filter) {
    const dialogRef &#x3D; this.openFieldFilterDialog(event.currentTarget, filter);
    dialogRef.afterClosed().subscribe((result: Filter) &#x3D;&gt; {
      if (!result) return;
      this.dataTable.filterUpdated.emit({
        old: this.convertFilterToEmittedFilter(filter),
        new: this.convertFilterToEmittedFilter(result)
      });
      let index &#x3D; this.filters.indexOf(filter)
      this.filters[index] &#x3D; result;
      this.dataTable.filterChanged.emit(this.filters.map(c &#x3D;&gt; this.convertFilterToEmittedFilter(c)));
      filter &#x3D; result;
    });
  }

  openFieldChooserDialog(triggeredElement) {
    if (this.fieldChooserDialogRef) return;
    this.fieldChooserDialogRef &#x3D; this.popupDialogService.open(
      FieldFilterChooserPopupDialog,
      triggeredElement,
      {
        coverTriggeringElement: true,
        data: {
          fields: this.fields,
          labels: this.dataTable.labels
        }
      });

    this.fieldChooserDialogRef.afterClosed().subscribe(result &#x3D;&gt; {
      this.fieldChooserDialogRef &#x3D; null;
      if (!result) return;
      const dialogRef &#x3D; this.openFieldFilterDialog(triggeredElement, {field: result});
      dialogRef.afterClosed().subscribe((result: Filter) &#x3D;&gt; {
        if (!result) return;
        this.filters.push(result);
        this.dataTable.filterAdded.emit(this.convertFilterToEmittedFilter(result));
        this.dataTable.filterChanged.emit(this.filters.map(c &#x3D;&gt; this.convertFilterToEmittedFilter(c)));
      });
    });
  }

  openFieldFilterDialog(triggeredElement, filter?: Filter) {
    const dialogRef &#x3D; this.popupDialogService.open(
      FieldFilterPopupDialog,
      triggeredElement,
      {
        suppressCloseOnClickSelectors: [&#x27;.cdk-overlay-container&#x27;],
        coverTriggeringElement: true,
        data: {
          fieldFilter: filter,
          labels: this.dataTable.labels
        }
      });
    return dialogRef;
  }

  removeFilter(filter: Filter) {
    const index &#x3D; this.filters.indexOf(filter);

    if (index &gt;&#x3D; 0) {
      this.filters.splice(index, 1);
      this.dataTable.filterRemoved.emit(this.convertFilterToEmittedFilter(filter));
      this.dataTable.filterChanged.emit(this.filters.map(c &#x3D;&gt; this.convertFilterToEmittedFilter(c)));
    }
  }

  formatValue(filter: Filter) {
    let value &#x3D; filter.value;
    if (filter.operator &#x3D;&#x3D; &#x27;empty&#x27;) return &#x27;&#x27;;

    if (filter.field.dataType &#x3D;&#x3D; &quot;enum&quot;) {
      value &#x3D; (filter.value as any[]).map(v &#x3D;&gt; typeof v &#x3D;&#x3D;&#x3D; &quot;string&quot; ? v : v.displayText);
    }

    if (Array.isArray(value)) {
      value &#x3D; value.join(&#x27;, &#x27;);
    }

    return value;
  }

  formatChipDisplayText(filter: Filter) {
    if (filter.field.dataType &#x3D;&#x3D; &quot;bool&quot;) {
      return filter.value &#x3D;&#x3D; false ? &#x60;${this.dataTable.labels.not} ${filter.field.header}&#x60; : filter.field.header;
    } else {
      return &#x60;${filter.field.header} ${this.dataTable.labels.filterOperators[filter.operator]} ${this.formatValue(filter)}&#x60;
    }
  }

  private convertFilterToEmittedFilter(filter: Filter) {
    // clone the filter and extract values from enum possible options
    let clonedFilter &#x3D; JSON.parse(JSON.stringify(filter)) as Filter;
    if (clonedFilter.operator &#x3D;&#x3D; &quot;empty&quot;) return clonedFilter;

    if (clonedFilter.field.dataType &#x3D;&#x3D; &quot;enum&quot;) {
      let valuesList &#x3D; clonedFilter.value;
      for (let i &#x3D; 0; i &lt; valuesList.length; i++) {
        const value &#x3D; valuesList[i];
        valuesList[i] &#x3D; typeof value &#x3D;&#x3D;&#x3D; &quot;string&quot; ? value : value.value
      }
    }
    return clonedFilter;
  }
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-templateData">
        <pre class="line-numbers"><code class="language-html">&lt;div class&#x3D;&quot;filter-bar&quot;&gt;
  &lt;div class&#x3D;&quot;px-2 pb-2&quot;&gt;
    &lt;mat-chip-list #chipList&gt;
      &lt;i (click)&#x3D;&quot;filterInput.click()&quot; class&#x3D;&quot;fa fa-filter fa-2x filter-icon mr-1&quot;&gt;&lt;/i&gt;
      &lt;mat-chip (click)&#x3D;&quot;chipClicked($event, filter)&quot; (removed)&#x3D;&quot;removeFilter(filter)&quot; *ngFor&#x3D;&quot;let filter of filters&quot;
                [removable]&#x3D;&quot;true&quot;&gt;
        {{formatChipDisplayText(filter)}}
        &lt;mat-icon matChipRemove&gt;cancel&lt;/mat-icon&gt;
      &lt;/mat-chip&gt;
      &lt;input #filterInput (focus)&#x3D;&quot;inputFocused($event)&quot; [matChipInputFor]&#x3D;&quot;chipList&quot; [placeholder]&#x3D;&quot;dataTable.labels.addFilter&quot;
             autocomplete&#x3D;&quot;off&quot; class&#x3D;&quot;filter-input&quot;&gt;
    &lt;/mat-chip-list&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>./filter-bar.component.css</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">.filter-input {
  background-color: transparent;
  border: 0;
  height: 32px;
  outline: none;
  padding: 0;
}

.filter-icon {
  color: #3367d6;
  cursor: pointer;
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div class="filter-bar">  <div class="px-2 pb-2">    <mat-chip-list #chipList>      <i (click)="filterInput.click()" class="fa fa-filter fa-2x filter-icon mr-1"></i>      <mat-chip (click)="chipClicked($event, filter)" (removed)="removeFilter(filter)" *ngFor="let filter of filters"                [removable]="true">        {{formatChipDisplayText(filter)}}        <mat-icon matChipRemove>cancel</mat-icon>      </mat-chip>      <input #filterInput (focus)="inputFocused($event)" [matChipInputFor]="chipList" [placeholder]="dataTable.labels.addFilter"             autocomplete="off" class="filter-input">    </mat-chip-list>  </div></div></div>'
    var COMPONENTS = [{'name': 'DataTableComponent', 'selector': 'data-table'},{'name': 'DataTableHeaderComponent', 'selector': 'data-table-header'},{'name': 'DataTablePaginationComponent', 'selector': 'data-table-pagination'},{'name': 'DataTableRowComponent', 'selector': '[dataTableRow]'},{'name': 'FieldFilterChooserPopupDialog', 'selector': 'app-field-filter-chooser-popup-dialog'},{'name': 'FieldFilterPopupDialog', 'selector': 'app-field-filter-popup-dialog'},{'name': 'FilterBarComponent', 'selector': 'filter-bar'}];
    var DIRECTIVES = [{'name': 'DataTableColumnDirective', 'selector': 'data-table-column'},{'name': 'HideDirective', 'selector': '[hide]'}];
    var ACTUAL_COMPONENT = {'name': 'FilterBarComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'FilterBarComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
