<h1 class="title">Angular DataTable Demo App</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Home</a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['/docs', 'datatable']" class="nav-link" routerLinkActive="active">Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/datatable/demo1" routerLinkActive="active">Demo 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/datatable/demo2" routerLinkActive="active">Demo 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/datatable/demo3" routerLinkActive="active">Demo 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/datatable/demo4" routerLinkActive="active">Demo 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/datatable/demo5" routerLinkActive="active">Demo 5</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/datatable/demo6" routerLinkActive="active">Demo 6</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-8 p-4 pr-2">
      <router-outlet></router-outlet>
    </div>
    <div class="col-4 p-4 pr-2">
      <code-viewer></code-viewer>
    </div>
  </div>
</div>

